* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2c2c2c;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container_regle {
  height: calc(100% - 20%);
  width: 100%;
}

.header_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: greenyellow;
  text-align: center;
  margin: 5% 0;
  font-size: 24px;
}
.header_text span {
  color: white;
  animation: pulsation 1s ease-in-out infinite alternate;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  margin: 0 auto;
  padding: 2%;
  margin-bottom: 20px;
}

.presentation p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.container_button {
  text-align: center;
  margin: 2% auto;
}
.butt {
  text-align: center;
}

@keyframes pulsation {
  0%{
    opacity: 0.5;
    text-shadow: 1px 2px 10px greenyellow;
  }
  
  100% {
    opacity: 1;
    text-shadow: 1px 2px 20px greenyellow;
  }
}