* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #2c2c2c;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header_text{
    color: greenyellow;
    text-align: center;
    margin: 2% 0 5% 0;
}

#regles{
    color: white ;
    width: 50%;
    margin: auto;
}
.regles{
    margin-bottom: 5px;
}

.presentation{
    color: white;
    margin-bottom: 20px;
}
