* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2c2c2c;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.form_qcm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}
.qcm {
  /* centrer le qcm */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 60%;
  padding: 10px;
  margin: auto;
  border: solid 1px greenyellow;
  border-radius: 26px;
  background: #222021;
  box-shadow: inset -2px 2px 4px #1c1a1b, inset 2px -2px 4px #282627;
  box-shadow: 0 0 10px greenyellow;
}
.qst_actuel {
  color: #f2f2f2;
}
h3 {
  /*Questions*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: greenyellow;
  padding: 10px;
}

.button {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.reponse {
  display: inline-block;
  gap: 20px;
}

.larger-click-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 18vw;
  height: 5vw;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  color: white;
}

.none {
  display: none;
}

.progress_bar_container {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
}

.progress_bar {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  transition: width 1s linear;
}

.container_reponses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/*TEST ANIMATION */

.carre {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0%;
  opacity: 0;
  right: 10%;
  animation: animate 15s linear infinite;
  transition: all ease 0.1s;
  z-index: -1;
  background-image: url("../Assets/ballon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.carre>img:hover {
  cursor: pointer;
}
.carre img {
  width: 90%;
  height: 90%;
}

.carre:nth-of-type(2) {
  width: 30px;
  height: 30px;
  right: 20%;
  animation-delay: 3s;
}

.carre:nth-of-type(3) {
  width: 60px;
  height: 60px;
  right: 25%;
  animation-delay: 5s;
}
.carre:nth-of-type(4) {
  width: 20px;
  height: 20px;
  right: 35%;
  animation-delay: 10s;
}
.carre:nth-of-type(5) {
  width: 30px;
  height: 30px;
  right: 40%;
  animation-delay: 5s;
}
.carre:nth-of-type(6) {
  width: 70px;
  height: 70px;
  right: 50%;
  animation-delay: 3s;
}
.carre:nth-of-type(7) {
  width: 20px;
  height: 20px;
  right: 55%;
  animation-delay: 0s;
}
.carre:nth-of-type(8) {
  width: 35px;
  height: 35px;
  right: 65%;
  animation-delay: 2s;
}
.carre:nth-of-type(9) {
  width: 25px;
  height: 25px;
  right: 70%;
  animation-delay: 5s;
}
.carre:nth-of-type(10) {
  width: 30px;
  height: 30px;
  right: 80%;
  animation-delay: 1s;
}
.carre:nth-of-type(11) {
  width: 50px;
  height: 50px;
  right: 85%;
  animation-delay: 0s;
}
.carre:nth-of-type(12) {
  width: 80px;
  height: 80px;
  right: 41%;
  animation-delay: 6s;
}
.carre:nth-of-type(13) {
  width: 83px;
  height: 83px;
  right: 50%;
  animation-delay: 3s;
}
.carre:nth-of-type(14) {
  width: 30px;
  height: 30px;
  right: 20%;
  animation-delay: 8s;
}
.carre:nth-of-type(15) {
  width: 70px;
  height: 70px;
  right: 2%;
  animation-delay: 2s;
}
.carre:nth-of-type(16) {
  width: 110px;
  height: 110px;
  right: 40%;
  animation-delay: 0.5s;
}




.basket {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0%;
  opacity: 0;
  right: 10%;
  animation: animate 15s linear infinite;
  transition: all ease 0.1s;
  z-index: -1;
  background-image: url("../Assets/ballonBasket.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.basket>img:hover {
  cursor: pointer;
}
.basket img {
  width: 90%;
  height: 90%;
}

.basket:nth-of-type(2) {
  width: 30px;
  height: 30px;
  right: 20%;
  animation-delay: 3s;
}

.basket:nth-of-type(3) {
  width: 60px;
  height: 60px;
  right: 25%;
  animation-delay: 5s;
}
.basket:nth-of-type(4) {
  width: 20px;
  height: 20px;
  right: 35%;
  animation-delay: 10s;
}
.basket:nth-of-type(5) {
  width: 30px;
  height: 30px;
  right: 40%;
  animation-delay: 5s;
}
.basket:nth-of-type(6) {
  width: 70px;
  height: 70px;
  right: 50%;
  animation-delay: 3s;
}
.basket:nth-of-type(7) {
  width: 20px;
  height: 20px;
  right: 55%;
  animation-delay: 0s;
}
.basket:nth-of-type(8) {
  width: 35px;
  height: 35px;
  right: 65%;
  animation-delay: 2s;
}
.basket:nth-of-type(9) {
  width: 25px;
  height: 25px;
  right: 70%;
  animation-delay: 5s;
}
.basket:nth-of-type(10) {
  width: 30px;
  height: 30px;
  right: 80%;
  animation-delay: 1s;
}
.basket:nth-of-type(11) {
  width: 50px;
  height: 50px;
  right: 85%;
  animation-delay: 0s;
}
.basket:nth-of-type(12) {
  width: 80px;
  height: 80px;
  right: 41%;
  animation-delay: 6s;
}
.basket:nth-of-type(13) {
  width: 83px;
  height: 83px;
  right: 50%;
  animation-delay: 3s;
}
.basket:nth-of-type(14) {
  width: 30px;
  height: 30px;
  right: 20%;
  animation-delay: 8s;
}
.basket:nth-of-type(15) {
  width: 70px;
  height: 70px;
  right: 2%;
  animation-delay: 2s;
}
.basket:nth-of-type(16) {
  width: 110px;
  height: 110px;
  right: 40%;
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 3;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

@media (max-width: 700px) {
  .qcm {
    width: 500px;
  }
}
@media (max-width: 550px) {
  .qcm {
    width: 420px;
  }
}
@media (max-width: 400px) {
  .qcm {
    width: 335px;
  }
}